<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>BundleHasStrictIdentifier</key>
		<false/>
		<key>BundleIsRelocatable</key>
		<false/>
		<key>BundleIsVersionChecked</key>
		<false/>
		<key>BundleOverwriteAction</key>
		<string>upgrade</string>
		<key>ChildBundles</key>
		<array>
			<dict>
				<key>BundleOverwriteAction</key>
				<string>upgrade</string>
				<key>ChildBundles</key>
				<array>
					<dict>
						<key>BundleHasStrictIdentifier</key>
						<false/>
						<key>BundleOverwriteAction</key>
						<string>upgrade</string>
						<key>RootRelativeBundlePath</key>
						<string>Thonny.app/Contents/Frameworks/Python.framework/Versions/3.7/Resources/Python.app</string>
					</dict>
				</array>
				<key>RootRelativeBundlePath</key>
				<string>Thonny.app/Contents/Frameworks/Python.framework</string>
			</dict>
		</array>
		<key>RootRelativeBundlePath</key>
		<string>Thonny.app</string>
	</dict>
</array>
</plist>
