__pycache__
dist
build
cx_build
*/*.pyc
user_logs/
windows/ShortcutLauncher/ShortcutLauncher.v12.suo
MANIFEST
mac/Thonny\.dmg
windows/ShortcutLauncher/Debug
windows/ShortcutLauncher/Release/ShortcutLauncher\.pdb
windows/ShortcutLauncher/ShortcutLauncher/Debug
windows/ShortcutLauncher/ShortcutLauncher/Release
windows/ShortcutLauncher/ShortcutLauncher/RCa01424
windows/ShortcutLauncher/ShortcutLauncher/RCa06892
windows/ShortcutLauncher/ShortcutLauncher/RCb06892
windows/ShortcutLauncher/ShortcutLauncher/RCc06892
windows/ShortcutLauncher/ShortcutLauncher\.sdf
windows/ShortcutLauncher/ShortcutLauncher\.v11\.suo
windows/ShortcutLauncher/ShortcutLauncher/ShortcutLauncher\.aps
RemoteSystemsTempFiles
\.dmg
installers/mac/freezing.log
