__pycache__
dist
build
cx_build
*/*.pyc
MANIFEST
mac/Thonny\.dmg
RemoteSystemsTempFiles
\.dmg
packaging/mac/freezing.log
installer_building.log
backend_private
*.iobj
packaging/windows/freezing.log
packaging/windows/ThonnyRunner/Release/ThonnyRunner.ipdb
packaging/windows/ThonnyRunner/ThonnyRunner.sdf
*.opensdf
*.tlog
*.ipdb
packaging/setuptools/thonny.egg-info
packaging/windows/ThonnyRunner/ThonnyRunner.sdf
packaging/windows/ThonnyRunner/ThonnyRunner/Release/ThonnyRunner.res
thonny.egg-info
temp_build_dir
packaging/mac/out.txt
packaging/windows/pythonny
packaging/setuptools/*.zip
