!thonny.exe
*/*.pyc
*.log
*.iobj
*.pdb
*.ipdb
*.obj
*.opensdf
*.tlog
*.aps
*.ipdb
*.dmg
.venv
.vs
.idea
.cache
.pytest_cache
.mypy_cache
.DS_Store
__pycache__
dist
venv
venv-3.9
venv39
venv37
venv35/**
packaging/linux/build
build
resources_build
MANIFEST
RemoteSystemsTempFiles
installer_building.log
xxl_installer_building.log
packaging/windows/freezing.log
packaging/setuptools/*.whl
packaging/setuptools/thonny.egg-info
packaging/windows/ThonnyRunner35/ThonnyRunner.sdf
packaging/windows/ThonnyRunner35/ThonnyRunner/Release/ThonnyRunner.res
packaging/windows/ThonnyRunner35/Release/ThonnyRunner.ipdb
packaging/windows/ThonnyRunner36/ThonnyRunner.sdf
packaging/windows/ThonnyRunner36/ThonnyRunner/Release/ThonnyRunner.res
packaging/windows/ThonnyRunner36/Release/ThonnyRunner.ipdb
packaging/windows/ThonnyRunner37/ThonnyRunner.sdf
packaging/windows/ThonnyRunner37/ThonnyRunner/Release/ThonnyRunner.res
packaging/windows/ThonnyRunner37/Release/ThonnyRunner.ipdb
packaging/windows/Python35
packaging/windows/build
packaging/windows/Python36
packaging/mac/out.txt
packaging/mac/build
packaging/mac/*.pkg
packaging/windows/pythonny
packaging/setuptools/*.zip
packaging/setuptools/*.tar.gz
packaging/setuptools/*.whl
packaging/mac/freezing.log
thonny.egg-info
temp_build_dir
thonnyapp/thonnyapp.egg-info
thonnycontrib
