<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- http://keith.chaos-realm.net/plugin/tag/downloadassessment -->
<!-- https://developer.apple.com/library/mac/#documentation/Miscellaneous/Reference/UTIRef/Articles/System-DeclaredUniformTypeIdentifiers.html -->
<!-- goes to ~/Library/Preferences called com.apple.DownloadAssessment.plist  -->
<plist version="1.0">
<dict>
	<key>LSRiskCategorySafe</key> 
	<dict>
		<key>LSRiskCategoryContentTypes</key>
		<array>
			<string>public.xml</string>
		</array>
	
		<key>LSRiskCategoryExtensions</key>
		<array>
			<string>py</string>
			<string>pytemp</string>
			<string>pyex</string>
		</array>
	</dict>
</dict>
</plist>