[Desktop Entry]
Type=Application
Name=Thonny
GenericName=Python IDE
Exec=/usr/bin/thonny %F
Comment=Python IDE for beginners
Icon=thonny
StartupWMClass=Thonny
Terminal=false
Categories=Development;IDE
Keywords=programming;education
MimeType=text/x-python;
Actions=Edit;

[Desktop Action Edit]
Exec=/usr/bin/thonny %F
Name=Edit with Thonny
