[Desktop Entry]
Type=Application
Name=Thonny
GenericName=Python IDE
Exec=$target_dir/bin/thonny %F
Comment=Python IDE for beginners
Icon=$target_dir/lib/python3.7/site-packages/thonny/res/thonny.png
StartupWMClass=Thonny
Terminal=false
Categories=Development;IDE
Keywords=programming;education
MimeType=text/x-python;
Actions=Edit;

[Desktop Action Edit]
Exec=$target_dir/bin/thonny %F
Name=Edit with Thonny
