jedi==0.19.*
pyserial==3.5
pylint==4.0.*
docutils==0.22.*
mypy==1.19.*
asttokens==3.0.*
Send2Trash==2.1.*
esptool==5.2.*
paramiko==4.*
websockets==16.*
ptyprocess==0.7.*; sys_platform == "linux" or sys_platform == "darwin"
dbus-next==0.2.*; sys_platform == "linux"
adafruit_board_toolkit==1.1.*; sys_platform == "win32" or sys_platform == "darwin"


