jedi==0.18.*
pyserial==3.5
pylint==2.14.*
docutils==0.19.*
mypy==0.971.*
asttokens==2.0.*
Send2Trash==1.8.1b0
esptool==4.2.*
bcrypt==3.2.* # has builds available for RPi. Should be good enough for paramiko
paramiko==2.11.*
websockets==10.*
ptyprocess==0.7.*; sys_platform == "linux" or sys_platform == "darwin"
adafruit_board_toolkit==1.1.0; sys_platform == "win32" or sys_platform == "darwin"


