[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Thonny (URL handler)
GenericName=Python Exercise handler
Exec=python3 /home/aivar/workspaces/python_stuff/kananaba/src/main.py %U
Comment=A Python IDE (URL handler)
Terminal=false
Categories=Development;Debugger;IDE;
MimeType=text/x-python;x-scheme-handler/pyex; 
X-MultipleArgs=True


